<template>
    <CRow>
        <CCol md="3" sm="6">
            <CWidgetBrand
                color="facebook"
                right-header="89k"
                right-footer="friends"
                left-header="459"
                left-footer="feeds"
            >
                <CIcon name="cib-facebook" height="56" class="my-4" />
            </CWidgetBrand>
        </CCol>
        <CCol md="3" sm="6">
            <CWidgetBrand
                color="twitter"
                right-header="973k"
                right-footer="followers"
                left-header="1.792"
                left-footer="tweets"
            >
                <CIcon name="cib-twitter" height="56" class="my-4" />
            </CWidgetBrand>
        </CCol>
        <CCol md="3" sm="6">
            <CWidgetBrand
                color="instagram"
                right-header="500+"
                right-footer="contracts"
                left-header="292"
                left-footer="feeds"
            >
                <CIcon name="cib-instagram" height="56" class="my-4" />
            </CWidgetBrand>
        </CCol>
        <CCol md="3" sm="6">
            <CWidgetBrand
                right-header="12"
                right-footer="events"
                left-header="4"
                left-footer="meetings"
                color="vk"
            >
                <CIcon name="cib-vk" height="56" class="my-4" />
            </CWidgetBrand>
        </CCol>
    </CRow>
</template>

<script>
import { CChartLineSimple } from "../charts/index.js";

export default {
    name: "WidgetsBrand",
    components: {
        CChartLineSimple
    },
    props: {
        noCharts: Boolean
    }
};
</script>
