<template>
    <CRow>
        <CCol sm="6" lg="3">
            <CWidgetDropdown
                color="primary"
                :header="citizensCount ? citizensCount.toSting() : '0'"
                text="Пользователей"
            >
                <template #footer>
                    <CChartLineSimple
                        pointed
                        class="mt-3 mx-3"
                        style="height:70px"
                        :data-points="[
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger()
                        ]"
                    />
                </template>
            </CWidgetDropdown>
        </CCol>
        <CCol sm="6" lg="3">
            <CWidgetDropdown
                color="info"
                :header="msgCountAll ? msgCountAll.toSting() : '0'"
                text="Обращений"
            >
                <template #footer>
                    <CChartLineSimple
                        pointed
                        class="mt-3 mx-3"
                        style="height:70px"
                        :data-points="[
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger()
                        ]"
                    />
                </template>
            </CWidgetDropdown>
        </CCol>
        <CCol sm="6" lg="3">
            <CWidgetDropdown
                color="warning"
                :header="answersCountAll ? answersCountAll.toSting() : '0'"
                text="Ответов"
            >
                <template #footer>
                    <CChartLineSimple
                        class="mt-3"
                        style="height:70px"
                        background-color="rgba(255,255,255,.2)"
                        :data-points="[
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger(),
                            randomInteger()
                        ]"
                        :options="{ elements: { line: { borderWidth: 2.5 } } }"
                    />
                </template>
            </CWidgetDropdown>
        </CCol>
        <CCol sm="6" lg="3">
            <CWidgetDropdown
                color="danger"
                :header="msgCountAll && answersCountAll ? (parseInt(msgCountAll) - parseInt(answersCountAll)).toSting() : '0'"
                text="Ждут ответа"
            >
                <template #footer>
                    <CChartBarSimple class="mt-3 mx-3" style="height:70px" />
                </template>
            </CWidgetDropdown>
        </CCol>
    </CRow>
</template>

<script>
import { CChartLineSimple, CChartBarSimple } from "../charts/index.js";

export default {
    name: "WidgetsDropdown",
    components: { CChartLineSimple, CChartBarSimple },
    props: ["msgCountAll", "citizensCount", "answersCountAll"],
    methods: {
        randomInteger() {
            return Math.floor(Math.random() * (1000 - 1 + 1)) + 1;
        }
    }
};
</script>
