<template>
    <div>
        <CForm id="auth-form" @submit.prevent="acceptDate">
            <CCard>
                <CCardBody>
                    <CRow style="margin: 10px 0;">
                        <CCol>
                            <CInput
                                label="От"
                                type="date"
                                vertical
                                invalid-feedback="Выберете дату"
                                :is-valid="validateState('dateFrom')"
                                v-model="$v.form.dateFrom.$model"
                            />
                        </CCol>
                        <CCol>
                            <CInput
                                label="До"
                                type="date"
                                vertical
                                v-model="form.dateTo"
                            />
                        </CCol>
                    </CRow>
                    <CCardFooter>
                        <CButton type="submit" size="sm" color="primary"
                            >Применить</CButton
                        >
                    </CCardFooter>
                </CCardBody>
            </CCard>
        </CForm>
        <WidgetsDropdown
            :msgCountAll="dashboardData ? dashboardData.msgCountAll : null"
            :citizensCount="dashboardData ? dashboardData.citizensCount : null"
            :answersCountAll="
                dashboardData ? dashboardData.answersCountAll : null
            "
        />
        <CCard>
            <CCardBody>
                <CRow>
                    <CCol sm="5">
                        <h4 id="traffic" class="card-title mb-0">
                            Статистика обращений
                        </h4>
                    </CCol>
                </CRow>
                <MainChartExample
                    style="height:300px;margin-top:40px;"
                    v-bind:dateFrom="this.form.dateFrom"
                    v-bind:dateTo="this.form.dateTo"
                />
            </CCardBody>
            <CCardFooter>
                <CRow class="text-center">
                    <CCol md sm="12" class="mb-sm-2 mb-0">
                        <div class="text-muted">Обращений</div>
                        <strong>
                            {{
                                dashboardData ? dashboardData.msgCountAll : null
                            }}
                            обращений
                        </strong>
                        <CProgress
                            class="progress-xs mt-2"
                            :precision="1"
                            color="success"
                            :value="40"
                        />
                    </CCol>
                    <CCol md sm="12" class="mb-sm-2 mb-0 d-md-down-none">
                        <div class="text-muted">Новых пользователей</div>
                        <strong>
                            {{
                                dashboardData
                                    ? dashboardData.citizensCount
                                    : null
                            }}
                            пользователя
                        </strong>
                        <CProgress
                            class="progress-xs mt-2"
                            :precision="1"
                            color="info"
                            :value="20"
                        />
                    </CCol>
                    <CCol md sm="12" class="mb-sm-2 mb-0">
                        <div class="text-muted">Ответов</div>
                        <strong>
                            {{
                                dashboardData
                                    ? dashboardData.answersCountAll
                                    : null
                            }}
                            ответов
                        </strong>
                        <CProgress
                            class="progress-xs mt-2"
                            :precision="1"
                            color="warning"
                            :value="60"
                        />
                    </CCol>
                </CRow>
            </CCardFooter>
        </CCard>
        <WidgetsBrand />
        <CRow>
            <CCol md="12">
                <CCard>
                    <CCardHeader>Ответы на обращения</CCardHeader>
                    <CCardBody>
                        <CRow>
                            <CCol sm="12" lg="6">
                                <CRow>
                                    <CCol sm="6">
                                        <CCallout color="info">
                                            <small class="text-muted"
                                                >Среднее время ответа</small
                                            >
                                            <br />
                                            <strong class="h4">
                                                {{
                                                    dashboardData
                                                        ? getHumanize(
                                                              dashboardData.avgAnswerTime
                                                          )
                                                        : null
                                                }}
                                            </strong>
                                        </CCallout>
                                    </CCol>
                                    <CCol sm="6">
                                        <CCallout color="danger">
                                            <small class="text-muted"
                                                >Средний рейтинг</small
                                            >
                                            <br />
                                            <strong class="h4">
                                                {{
                                                    dashboardData
                                                        ? dashboardData.avgAnswersRating
                                                        : null
                                                }}
                                            </strong>
                                        </CCallout>
                                    </CCol>
                                </CRow>
                            </CCol>
                            <hr class="mt-0" />
                        </CRow>
                        <br />
                        <CRow>
                            <CCol sm="12" md="6" lg="4">
                                <CRow>
                                    <CCol sm="6">
                                        <div>Самый популярный гос. орган</div>
                                        <div>
                                            <span class="h5">
                                                {{
                                                    dashboardData
                                                        ? dashboardData.mostPopularDepName
                                                        : null
                                                }}
                                            </span>
                                        </div>
                                    </CCol>
                                    <CCol sm="6">
                                        <div>
                                            <span class="h4">
                                                {{
                                                    dashboardData
                                                        ? dashboardData.mostPopularDepMsgCount
                                                        : null
                                                }}
                                            </span>
                                        </div>
                                        <div>
                                            <small>обращений</small>
                                        </div>
                                    </CCol>
                                </CRow>
                            </CCol>
                            <CCol sm="12" md="6" lg="4">
                                <CRow>
                                    <CCol sm="6">
                                        <div>
                                            Высокая скорость ответа(средняя)
                                        </div>
                                        <div>
                                            <span class="h5">
                                                {{
                                                    dashboardData
                                                        ? dashboardData.minLongTimeDepName
                                                        : null
                                                }}
                                            </span>
                                        </div>
                                    </CCol>
                                    <CCol sm="6">
                                        <div>
                                            <span class="h4">
                                                {{
                                                    dashboardData
                                                        ? getHumanize(
                                                              dashboardData.minLongTime
                                                          )
                                                        : null
                                                }}
                                            </span>
                                        </div>
                                    </CCol>
                                </CRow>
                            </CCol>
                            <CCol sm="12" md="6" lg="4">
                                <CRow>
                                    <CCol sm="6">
                                        <div>Самый высокий рейтинг</div>
                                        <div>
                                            <span class="h5">
                                                {{
                                                    dashboardData
                                                        ? dashboardData.bestRatingDepName
                                                        : null
                                                }}
                                            </span>
                                        </div>
                                    </CCol>
                                    <CCol sm="6">
                                        <div>
                                            <span class="h4">
                                                {{
                                                    dashboardData
                                                        ? dashboardData.bestRating
                                                        : null
                                                }}
                                            </span>
                                        </div>
                                    </CCol>
                                </CRow>
                            </CCol>
                            <CCol sm="12" md="6" lg="4">
                                <CRow>
                                    <CCol sm="6">
                                        <div>
                                            Низкая скорость ответа(средняя)
                                        </div>
                                        <div>
                                            <span class="h5">
                                                {{
                                                    dashboardData
                                                        ? dashboardData.maxLongTimeDepName
                                                        : null
                                                }}
                                            </span>
                                        </div>
                                    </CCol>
                                    <CCol sm="6">
                                        <div>
                                            <span class="h4">
                                                {{
                                                    dashboardData
                                                        ? getHumanize(
                                                              dashboardData.maxLongTime
                                                          )
                                                        : null
                                                }}
                                            </span>
                                        </div>
                                    </CCol>
                                </CRow>
                            </CCol>
                            <CCol sm="12" md="6" lg="4">
                                <CRow>
                                    <CCol sm="6">
                                        <div>Самый низкий рейтинг</div>
                                        <div>
                                            <span class="h5">
                                                {{
                                                    dashboardData
                                                        ? dashboardData.worstRatingDepName
                                                        : null
                                                }}
                                            </span>
                                        </div>
                                    </CCol>
                                    <CCol sm="6">
                                        <div>
                                            <span class="h4">
                                                {{
                                                    dashboardData
                                                        ? dashboardData.worstRating
                                                        : null
                                                }}
                                            </span>
                                        </div>
                                    </CCol>
                                </CRow>
                            </CCol>
                        </CRow>
                    </CCardBody>
                </CCard>
            </CCol>
        </CRow>
    </div>
</template>

<script>
import MainChartExample from "./charts/MainChartExample";
import WidgetsDropdown from "./widgets/WidgetsDropdown";
import WidgetsBrand from "./widgets/WidgetsBrand";
import moment from "moment";
import format from "moment-duration-format";
import { validationMixin } from "vuelidate";
import { required, requiredIf } from "vuelidate/lib/validators";

export default {
    name: "Dashboard",
    components: {
        MainChartExample,
        WidgetsDropdown,
        WidgetsBrand
    },
    data() {
        return {
            dashboardData: null,
            form: {
                dateFrom: null,
                dateTo: null
            }
        };
    },
    validations: {
        form: {
            dateFrom: {
                required
            }
        }
    },
    created() {
        this.fetchData();
    },
    methods: {
        fetchData() {
            this.isLoading = !this.isFirstLoad;
            const urlDashboard =
                this.form.dateFrom && this.form.dateTo
                    ? "/" +
                      new Date(this.form.dateFrom) +
                      "/" +
                      new Date(this.form.dateTo)
                    : this.form.dateFrom && !this.form.dateTo
                    ? "/" + new Date(this.form.dateFrom)
                    : "";
            axios.get("/api/suroo/stats/all" + urlDashboard).then(response => {
                if (response.data) {
                    this.dashboardData = response.data;
                }
            });
        },
        color(value) {
            let $color;
            if (value <= 25) {
                $color = "info";
            } else if (value > 25 && value <= 50) {
                $color = "success";
            } else if (value > 50 && value <= 75) {
                $color = "warning";
            } else if (value > 75 && value <= 100) {
                $color = "danger";
            }
            return $color;
        },
        acceptDate() {
            this.$v.form.$touch();
            if (this.$v.form.$anyError) {
                return;
            }

            this.fetchData();
        },
        validateState(name) {
            const { $dirty, $error } = this.$v.form[name];
            return $dirty ? !$error : null;
        },
        getHumanize(time) {
            return moment.duration(time).format("dд. hч. mмин.");
        },
    },
    watch: {
        $route: "fetchData"
    }
};
</script>
