<template>
    <div>
        <CCard>
            <CCardHeader>
                Пользователи
            </CCardHeader>
            <CCardBody>
                <CButton
                    color="primary"
                    style="margin: 10px 0;"
                    @click="showUserFormModal()"
                    >Добавить юзера</CButton
                >
                <CDataTable
                    :hover="true"
                    :striped="true"
                    :border="true"
                    :items="items"
                    :fields="fields"
                >
                    <template #status="{item}">
                        <td>
                            <CBadge :color="getBadge(item.enabled)">{{
                                item.enabled ? "Активный" : "Не активен"
                            }}</CBadge>
                        </td>
                    </template>
                    <template #actions="{item}">
                        <td>
                            <CButton
                                type="button"
                                @click="updateUser(item)"
                                size="sm"
                                color="primary"
                                >Изменить</CButton
                            >
                        </td>
                    </template>
                </CDataTable>
            </CCardBody>
        </CCard>
        <CModal
            v-bind:title="
                formUser.isUpdate ? 'Изменить юзера' : 'Добавить юзера'
            "
            color="primary"
            :show.sync="showUserForm"
        >
            <CForm id="formUser" @submit.prevent="submitForm">
                <CRow>
                    <CCol sm="12">
                        <CInput
                            label="Email"
                            placeholder="Введите email"
                            type="email"
                            invalid-feedback="Укажите email"
                            :is-valid="validateState('email')"
                            v-model="$v.formUser.email.$model"
                        />
                    </CCol>

                    <CCol sm="12">
                        <CInput
                            label="Описание"
                            placeholder="Введите описание"
                            invalid-feedback="Введите описание"
                            :is-valid="validateState('description')"
                            v-model="$v.formUser.description.$model"
                        />
                    </CCol>
                    <CCol sm="6">
                        <CSelect
                            label="Язык"
                            :options="['RU', 'KG']"
                            placeholder='Выберете язык'
                            invalid-feedback="Выберете язык"
                            :is-valid="validateState('lang')"
                            v-model="$v.formUser.lang.$model"
                        />
                    </CCol>
                    <CCol sm="6">
                        <CSelect
                            label="Роль"
                            :options="rolesList"
                            placeholder='Выберете роль'
                            invalid-feedback="Выберете роль"
                            :is-valid="validateState('roles')"
                            v-model="$v.formUser.roles.$model"
                        />
                    </CCol>
                    <CCol sm="12" v-if="formUser.isUpdate">
                        <CInputCheckbox
                            :label="'Активный'"
                            :value="formUser.enabled"
                        />
                    </CCol>
                </CRow>
            </CForm>
            <template #footer>
                <CButton
                    type="submit"
                    for="formUser"
                    @click="submitForm"
                    size="sm"
                    color="primary"
                    >Сохранить</CButton
                >
                <CButton
                    type="reset"
                    size="sm"
                    color="default"
                    @click="showUserForm = !showUserForm"
                    >Отмена</CButton
                >
            </template>
        </CModal>
    </div>
</template>

<script>
import { roles } from "../../const";
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";

export default {
    name: "Users",
    data: function() {
        return {
            showUserForm: false,
            rolesList: [],
            formUser: {
                email: null,
                description: null,
                lang: null,
                roles: null,
                enabled: false,
                isUpdate: false
            }
        };
    },
    validations: {
        formUser: {
            email: {
                required,
                email
            },
            description: {
                required
            },
            lang: {
                required
            },
            roles: {
                required
            }
        }
    },
    props: {
        items: Array,
        fields: {
            type: Array,
            default() {
                return [
                    { key: "login", label: "Имя" },
                    { key: "lang", label: "Язык" },
                    { key: "description", label: "Описание" },
                    { key: "roles", label: "Роль" },
                    { key: "enabled", label: "Статус" },
                    { key: "dateCreated", label: "Создан" },
                    { key: "actions", label: "Действия" }
                ];
            }
        }
    },
    created() {
        this.fetchData();
        this.rolesList = roles;
    },
    methods: {
        fetchData() {
            this.isLoading = !this.isFirstLoad;
            axios.get("/api/suroo/users/list").then(response => {
                if (response.data) {
                    console.log(response.data);
                    this.items = response.data ? response.data : null;
                }
            });
        },
        showUserFormModal() {
            this.formUser = {
                email: null,
                description: null,
                lang: null,
                roles: null,
                enabled: false,
                isUpdate: false
            };
            this.showUserForm = !this.showUserForm;
        },
        submitForm() {
            this.$v.formUser.$touch();
            if (this.$v.formUser.$anyError) {
                return;
            }

            if (!this.formUser.isUpdate) {
                this.$store.dispatch("createUser", {
                    data: this.formUser,
                    self: this
                });
            } else {
                this.$store.dispatch("updateUser", {
                    data: this.formUser,
                    self: this
                });
            }
        },
        updateUser(user) {
            this.formUser = {
                email: user.login,
                description: user.decription,
                lang: user.lang,
                roles: user.roles,
                enabled: user.enabled,
                isUpdate: true
            };
        },
        validateState(name) {
            const { $dirty, $error } = this.$v.formUser[name];
            return $dirty ? !$error : null;
        }
    },
    watch: {
        $route: "fetchData"
    }
};
</script>
